{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Influence Maximization Game</title>
</head>
<body>
    <div id="startup-screen">
        <h1>Welcome to the Influence Maximization Game!</h1>

        <label for="graph-type">Choose a Graph Type:</label>
        <select id="graph-type">
            <option value="distribution">Distribution</option>
            <option value="tree">Tree</option>
            <option value="ladder">Ladder</option>
            <option value="square">Square</option>
            <option value="hexagon">Hexagon</option>
            <option value="triangle">Triangle</option>
            <option value="cycle">Cycle</option>
            <option value="random-proximity">Random Proximity</option>
        </select>

        <label for="player1">Player 1:</label>
        <select id="player1">
            <option value="human">Human</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <label for="player2">Player 2:</label>
        <select id="player2">
            <option value="human">Human</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <button onclick="startGame()">Start Game</button>
    </div>

    <div id="gameplay">
        <div id="graph-and-side">
            <div id="score-container">
                <h1>Score</h1>
                <div id="score-bar"></div>
            </div>
            <div id="graph-container">
                <canvas id="game-canvas" width="800" height="600"></canvas>
            </div>
            <div id="buttons-and-turn">
                <div id="player-indicators">
                    <div id="player1-indicator"></div>
                    <div id="player2-indicator"></div>
                </div>
                <div id="turn-notification" class="turn-box">Player 1's Turn</div>
                <div id="buttons-container">
                    <button onclick="askCoach()">Ask Coach?</button>
                    <button onclick="resetGame()">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>